<div class="galactic-container">
  <div class="stars"></div>
  <div class="planet moon"></div>
  <div class="planet mars"></div>
  <div class="planet earth"></div>
  <div class="rocket">
    <div class="body">
      <div class="window"></div>
      <div class="fin left"></div>
      <div class="fin right"></div>
      <div class="flame"></div>
    </div>
  </div>

  <div class="text-container">
    <h1 class="galactic-title">
      Zapraszam <span class="guest-name">{{ name }} {{ surname }}</span><br>
      na moje 30 galaktyczne urodziny!
    </h1>
    <p class="party-details typing-animation">
      Widzimy się <strong>16.11.2024</strong> w <strong>Desie na rynku</strong> w Gliwicach o godzinie <strong>17:30</strong>
    </p>
  </div>
</div>
