<div class="countdown-container">
  <div class="countdown-wrapper">
    <div class="time-box">
      <span class="number">{{ countdown.days }}</span>
      <span class="label">dni</span>
    </div>
    <div class="time-box">
      <span class="number">{{ countdown.hours }}</span>
      <span class="label">godz</span>
    </div>
    <div class="time-box">
      <span class="number">{{ countdown.minutes }}</span>
      <span class="label">min</span>
    </div>
    <div class="time-box">
      <span class="number">{{ countdown.seconds }}</span>
      <span class="label">sek</span>
    </div>
  </div>
</div>
